body {
    /* background-color: cadetblue; */
    padding: 0 50px;
}





.card_ponto_turistico {
    display: flex;
    margin-bottom: 12px;
    gap: 24px;
    align-items: flex-start;
}

.card_imagem {

    font-size: 0;
    flex: 1;
    max-width: 300px;

}


.card_detalhes {
    flex: 1;
}

.card_imagem img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.categorias{
    display:flex;
    gap:8px;
}

.categorias span {
    /* cor do fundo */
    background-color: black;
    /* cor do texto */
    color: white;
    padding: 4px;
}

#elemento-pai {
    padding: 12px;
}

/* HEADER */
.categorias-btn {
    padding: 12px 20px ;
    border-radius: 8px;
    border: none;

}
#header{
 display:flex;
 gap: 8px; 
 padding: 12px; 
}

.active{
    background-color: gray;
}