body {
    /* background-color: cadetblue; */
    padding: 0 50px;
    background-color: black;
    color: aliceblue;
}





.card_ponto_turistico {
    display: flex;
    margin-bottom: 12px;
    gap: 24px;
    align-items: flex-start;
}

.card_imagem {

    font-size: 0;
    flex: 1;
    max-width: 300px;

}


.card_detalhes {
    flex: 1;
}

.card_imagem img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.categorias{
    display:flex;
    gap:8px;
}

.categorias span {
    /* cor do fundo */
    background-color: rgb(0, 0, 0);
    /* cor do texto */
    color: rgb(243, 243, 243);
    padding: 4px 8px;
    border-radius: 4PX;
    border: 1px solid white;
}


#elemento-pai {
    padding: 12px;
}

/* HEADER */
.categorias-btn {
    padding: 12px 20px ;
    border-radius: 8px;
    border: none;

}
#header{
 display:flex;
 gap: 8px; 
 padding: 12px; 
}

.active{
    background-color: rgb(253, 239, 38);
}

/* Ajuste responsivo para telas menores */
@media (max-width: 768px) {
    .card_ponto_turistico {
      flex-direction: column; /* Empilha a imagem e o texto em telas menores */
    }
  
    .card_imagem {
      width: 100%; /* A imagem ocupa a largura total do contêiner */
      max-width: 100%; /* Garante que a imagem fique com a mesma largura que o contêiner */
    }
    #header {
        flex-wrap: wrap;
    }
  }
  